$titulos:(
    info: rgb(182, 56, 56),
    clientes: rgb(131, 194, 236),
    contacto:#fff,
    proyectos: rgb(121, 233, 205),
    nosotros: rgb(219, 205, 74)
);

$estilos:(
    color:#fff,
    align: center,
    font-weight: bold,
    width: 100%,
    float: left,
    list-style: none,
    
);